<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiniYouTube.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <MiniYouTube.My.MySettings>
            <setting name="Vs1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Vs2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Vs3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Vs4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S1" serializeAs="String">
                <value />
            </setting>
            <setting name="S1a" serializeAs="String">
                <value />
            </setting>
            <setting name="S2" serializeAs="String">
                <value />
            </setting>
            <setting name="S2a" serializeAs="String">
                <value />
            </setting>
            <setting name="S3" serializeAs="String">
                <value />
            </setting>
            <setting name="S3a" serializeAs="String">
                <value />
            </setting>
            <setting name="S4" serializeAs="String">
                <value />
            </setting>
            <setting name="S4a" serializeAs="String">
                <value />
            </setting>
            <setting name="S5" serializeAs="String">
                <value />
            </setting>
            <setting name="S5a" serializeAs="String">
                <value />
            </setting>
            <setting name="S6" serializeAs="String">
                <value />
            </setting>
            <setting name="S6a" serializeAs="String">
                <value />
            </setting>
            <setting name="S7" serializeAs="String">
                <value />
            </setting>
            <setting name="S7a" serializeAs="String">
                <value />
            </setting>
            <setting name="S8" serializeAs="String">
                <value />
            </setting>
            <setting name="S8a" serializeAs="String">
                <value />
            </setting>
            <setting name="S9" serializeAs="String">
                <value />
            </setting>
            <setting name="S9a" serializeAs="String">
                <value />
            </setting>
            <setting name="S10" serializeAs="String">
                <value />
            </setting>
            <setting name="S10a" serializeAs="String">
                <value />
            </setting>
            <setting name="top" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="yor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tem1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tem2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tem3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tem4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tem5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="surum" serializeAs="String">
                <value>1.0.0.7</value>
            </setting>
        </MiniYouTube.My.MySettings>
    </userSettings>
</configuration>
